<% # Articles Show View: articles/show.html.erb %>

<h3>
	Categories:
	<%= @article.show_categories %>
</h3>

<h1><%= @article.title %></h1>

<h5>Published: <%= @article.created_at.strftime('%b %d, %Y') %></h5>
<h5>Last update: <%= @article.updated_at.strftime('%b %d, %Y') %></h5>

<p><%= @article.content %></p>